@media screen and (max-width:768px) {
    .container{
        width: 100%;
    }
}

/* @media screen and (max-width:375px) {
    .row{
        flex-direction: column;
    }

    .lessons .col, 
    .steps .col,
    .why-us .col{
        width: 100%;
        padding-bottom: 40px;
    }
} */